.green-hover:hover{
  color: #4caf50;
  transition: 1s;
}
.blue-hover:hover{
  color: #2979ff;
  transition: 1s;
}

.yellow-hover:hover{
  color: yellow;
  transition: 1s;
}

.container {
  width: 92%;
}

.rounded-image {
  border-radius: 50%;
  float: right;
  width: 22%;
}

.activator:hover{
  cursor: pointer;
}

.project-card {
  opacity: 0;
}
