@import 'materialize';
@import 'font-awesome';

// colors
$light-blue: lightblue;
$green: #4caf50;
$indigo: #1a237e;
$blue: #2979ff;
$yellow: yellow;
$red: red;
$dark-grey: #212121;

// navbar
.nav-contact-info{
  display: none;
}

.navbar-fixed {
  top: 0;
  position: absolute;
}

nav .fa {
  font-size: 2em;
}

nav ul a:hover {
  background-color: inherit;
}

.small-nav {
  a {
    padding: 0 7px;
  }
  .fa {
    font-size: 1.2em;
  }
  .brand-logo {
    font-size: 1.2em;
  }
}
// header

.intro{
  height: 45vh;
}

.intro-box {
  width: 100%;
}

.intro-title {

}

.intro-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      padding: 8px;
    }
}


// fonts
.side-menu-font{
  font-size: 12px;
}

body {
  color: $dark-grey;
}

// content

.container {
  width: 92%;
}

.rounded-image {
  border-radius: 50%;
}

.sized-image{
  width: 22%;
}


// Hover effects
.activator:hover{
  cursor: pointer;
}

@mixin hover-transition($color) {
  transition: 1s;
  cursor: pointer;
  color: $color;
}

.green-hover:hover { @include hover-transition($green); }
.blue-hover:hover { @include hover-transition($blue); }
.yellow-hover:hover { @include hover-transition($yellow); }
.red-hover:hover { @include hover-transition($red); }
.indigo-hover:hover { @include hover-transition($indigo); }
.light-blue-hover:hover { @include hover-transition($light-blue); }


// Custom card styling
.card {
  &.small, &.medium, &.large {
    .card-image {
      max-height: 55%;
    }
    .card-image + .card-content {
      max-height: 45%;
    }
  }
}

.custom-card {
  @extend .card;
  overflow: hidden;
}

.project-card {
  @extend .custom-card;
  opacity: 0;
  .card-image img {
    min-height: 165px;
  }
}

.card.double-height{
  height: 622.5px;
}

.card.large .card-content-large {
  height: 292.5px;
}
