@import 'materialize';
@import 'font-awesome';

.green-hover:hover{
  color: #4caf50;
  transition: 1s;
}

.filler{
  height: 300px;
}

.navbar-fixed {
  top: 0;
  position: absolute;
}

body {
  @extend .grey, .lighten-4;
}

.white-text .green-hover:hover{
  color: #4caf50 !important;
}

.blue-hover:hover{
  color: #2979ff;
  transition: 1s;
}

.yellow-hover:hover{
  color: yellow;
  transition: 1s;
}

.white-text .yellow-hover:hover{
  color: yellow !important;
}

.red-hover:hover{
  color: red;
  transition: 1s;
  cursor: pointer;
}

.indigo-hover:hover{
  color: #1a237e;
  transition: 1s;
  cursor: pointer;
}

.white-text .indigo-hover:hover{
  color: #1a237e !important;
}

.light-blue-hover:hover{
  color: lightblue;
  transition: 1s;
  cursor: pointer;
}

.container {
  width: 92%;
}

.rounded-image {
  border-radius: 50%;
}

.sized-image{
  width: 22%;
}

.activator:hover{
  cursor: pointer;
}

.project-card {
  opacity: 0;
}

.nav-contact-info{
  display: none;
}
.side-menu-font{
  font-size: 12px;
}

.full-width{
  width: 100%;
}

.card.double-height{
  height: 622.5px;
}

.card.large .card-content-large {
  height: 292.5px;
}
